.div_header {
  /* background-image: var("../../assets/header_lc.svg"); */
  height: 290px;
  width: 50%;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  /* background-color: #170F59; */
  /* margin-top: 0;
  z-index: -1;
  align-items: center;
  display: flex;
} */
display: flex;
/* background-color: white; */
}